/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #eae7dc, #e9a195);
  background-repeat: none;
}
@media (max-width: 800px) {
  html {
    width: 90%;
  }
}
@media (max-width: 500px) {
  html {
    width: 100%;
  }
}
html body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5 {
  font-size: 2.8rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  color: #e85a4f;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}
@media (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navbar .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  margin: 0px 30px;
}
.navbar .logo-text {
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: #e85a4f;
}
.navbar .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}
.navbar .nav a {
  text-decoration: none;
  margin: 0 20px;
  color: #e85a4f;
  transition-timing-function: ease-in;
  transition: 0.6s;
}
.navbar .nav a .start-now {
  color: white;
  background-color: #e98074;
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
  padding: 5px 25px;
  border-radius: 10px;
  transition-timing-function: ease-in;
  transition: 0.6s;
}
.navbar .nav a .start-now:hover {
  background-color: white;
  color: #e85a4f;
}
@media (max-width: 800px) {
  .navbar .nav a .start-now {
    color: #e85a4f;
    background: white;
    font-weight: bold;
    border: none;
    padding: 0;
  }
  .navbar .nav a .start-now:hover {
    color: silver;
  }
}
.navbar .nav a:hover {
  color: silver;
}
@media (max-width: 800px) {
  .navbar .nav a {
    padding-top: 10px;
  }
}
@media (max-width: 500px) {
  .navbar .nav a {
    padding: 15px 0 10px;
    border-top: 1px solid silver;
  }
}
@media (max-width: 500px) {
  .navbar .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  margin: 30px 0 0;
  padding-top: 20px;
  border-top: 1px solid silver;
}
body .banner {
  width: 100%;
}
body h1 {
  margin: 30px 15px 0px;
}
body .about-blurb {
  text-align: center;
  width: 65%;
  margin: 30px 50px 50px;
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
}
@media (max-width: 800px) {
  body .about-blurb {
    width: 85%;
  }
}
body .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
}
body .container .infocard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
body .container .infocard .infoimg {
  width: 100%;
  margin: 10px 10px 20px;
}
@media (max-width: 800px) {
  body .container .infocard .infoimg {
    width: 45%;
  }
}
@media (max-width: 500px) {
  body .container .infocard .infoimg {
    width: 90%;
  }
}
body .container .infocard p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  text-align: left;
}
@media (max-width: 800px) {
  body .container .infocard p {
    width: 45%;
    text-align: left;
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  body .container .infocard p {
    width: 90%;
  }
}
@media (max-width: 800px) {
  body .container .infocard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  body .container .infocard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 20px 0;
  }
}
@media (max-width: 800px) {
  body .container .infocard2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 500px) {
  body .container .infocard2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 20px 0;
  }
}
@media (max-width: 800px) {
  body .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
body .call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .call-to-action .get-started {
  color: white;
  background-color: #e98074;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  padding: 10px 50px;
  border-radius: 10px;
  transition-timing-function: ease-in;
  transition: 0.6s;
}
body .call-to-action .get-started:hover {
  background-color: white;
  color: #e85a4f;
}
.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}
.about-page .team-title {
  width: 75%;
  text-align: center;
  margin: 30px auto 0px;
}
.about-page .team-title p {
  margin-top: 20px;
}
.about-page .team-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-page .team-box h3 {
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  margin: 50px auto 20px;
}
.about-page .team-box h4 {
  margin: 10px;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}
.about-page .team-box .team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.about-page .team-box .team .teammate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 30%;
}
.about-page .team-box .team .teammate .headshot {
  width: 100%;
}
.about-page .team-box .team .teammate p {
  width: 100%;
  margin-top: 5px;
  font-size: 1rem;
  text-align: justify;
}
.top {
  text-align: center;
}
@media (max-width: 500px) {
  .top {
    padding: 5%;
  }
}
.top img {
  height: auto;
  width: 100%;
}
.largequote {
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(233, 128, 116, 0.1);
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 90%;
  margin: 4% 15%;
  padding: 2% 4% 4% 4%;
}
@media (max-width: 800px) {
  .largequote {
    width: 90%;
  }
}
.largequote h4 {
  margin-top: 3%;
  font-size: 18px;
}
@media (max-width: 800px) {
  .largequote h4 {
    margin-bottom: 1%;
  }
}
.largequote h5 {
  padding-top: 1%;
  font-size: 14px;
}
.largequote p {
  font-style: italic;
  margin-top: 2%;
  font-size: 14px;
}
@media (max-width: 800px) {
  .largequote {
    text-align: center;
    padding-bottom: 5%;
  }
}
@media (max-width: 500px) {
  .largequote {
    text-align: center;
    margin: 0% 15%;
  }
}
.middle {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 5%;
  }
}
.bodybox {
  font-family: 'Quicksand', sans-serif;
  margin: 2% 3%;
  display: flex;
  flex-direction: column;
  width: 34%;
}
@media (max-width: 500px) {
  .bodybox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(233, 128, 116, 0.1);
  }
}
.bodybox h4 {
  margin-top: 5%;
  font-size: 23px;
}
@media (max-width: 500px) {
  .bodybox h4 {
    margin-top: 4%;
    font-size: 17px;
  }
}
.bodybox h5 {
  margin-top: 3%;
  font-size: 16px;
}
@media (max-width: 500px) {
  .bodybox h5 {
    font-size: 15px;
  }
}
.bodybox p {
  font-style: italic;
  margin-top: 6%;
  font-size: 14px;
}
@media (max-width: 500px) {
  .bodybox p {
    padding: 0 5% 5% 5%;
  }
}
.bodybox img {
  height: auto;
  width: 100%;
}
@media (max-width: 500px) {
  .bodybox img {
    padding: 5%;
  }
}
