
.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 

    h4 {
        margin-top: 5%;
        font-size: 23px;
      }
    
      h5 {
        margin-top: 3%;
        font-size: 18px;
      }
      p {
        margin-top: 6%;
        font-size: 14px;
      }
    
      img {
        height: auto;
        width: 100%;
      }
  }