.banner {
    width: 100%;
}

h1 {
    margin: 55px 15px 0px;
    color: @accent2;
}

.about-blurb {
    .flex(row, center, center);
    text-align: center;
    width: 70%;
    margin: 30px 50px 50px;
    font-size: 1.2rem;
    font-family: @quicksand;
}

.call-to-action {
    .flex(row, center, center);
    font-family: @quicksand;
    .get-started {
        .btn(white, @accent1);
    }
}